*~
*.cmi
*.cmo
*.cmx
*.i
*.o
ord.ml
ordfirrtl.ml
output_lexer.ml
output_parser
output_parser.top
output_parser.ml
output_parser.mli
outputparser
outputparser.top
Program
Program.top
Program.mly
Program_lex.ml
Program_types.ml
Circuit
Circuit.top
Circuit.ml
Circuit.mli
Circuit.mly
Circuit_lex.ml
kernel.i
kernel.log
lef_file
lef_file.ml
lef_file.mli
lef_file.top
y.output
y.tab.c
y.tab.h
lex.yy.c
a.out
g.dat
g.eps
g.sh
mykernel.c
mykernel_main.c
mykernel_test.c
