*~
*.cmi
*.cmo
*.cmx
*.i
*.o
*.dump
*.vhd
*.json
*.svg
*.ghdl
*.log
*.check
*.vsyn
*.gate
*.gold
*.exp
*.temp
*.templog
*.tmp
*.sat
*.liberty
*.debug
*.tok
*_opt.v
*.smt
*.rej
*.rtlil
*.ilang
*.proc
*.vsynth
.ocamlinit
slib_*
uart_*
Extract*
Pat*
apb_uart.v
install_hardcaml
ord.ml
output_lexer.ml
output_parser
output_parser.top
output_parser.ml
output_parser.mli
outputparser
outputparser.top
Input_top
Input.ml
Input.mli
Input_lex.ml
Input_ord.ml
liberty_parser.y
liberty_parser.tab.c
liberty_parser.output
NangateOpenCellLibrary_typical.lib
Program
Program.top
Program.mly
Program_lex.ml
Program_types.ml
Translation_unit_list
Translation_unit_list.top
Translation_unit_list.ml
Translation_unit_list.mli
Translation_unit_list.mly
Translation_unit_list_lex.ml
Translation_unit_list_types.ml
ansic
kernel.i
kernel.log
lef_file
lef_file.ml
lef_file.mli
lef_file.top
y.output
y.tab.c
y.tab.h
lex.yy.c
a.out
g.dat
g.eps
g.sh
mykernel.c
mykernel_main.c
mykernel_test.c
Source_text
Source_text.ml
Source_text.mli
Source_text.mly.orig
Source_text_lex.ml
Source_text_top
Source_text_types.ml
Source_text.mly.edited
Source_text_convert
Source_text_convert_top
Source_text_preproc
Source_text_preproc_lexer.ml
Source_text_preproc_grammar.ml
Source_text_preproc_grammar.mli
Source_text_rewrite_new.ml
Source_text_rewrite_types_new.mli
mungelst.ml
*_dump.v
*.synth
*.opt.v
work-obj93.cf
examples/*.ml
examples/*.ref
examples/*.v_dump.ys
examples/*.v_opt_synth.v
examples/*.verilog
examples/*.opt.v
examples/*.noexpr
junk.v
.DS_Store
logfile.txt
sat_example
Source_text_compare
Source_text_simplify_top
examples/assert.preproc
examples/*.v_dump_synth.v
examples/*.v_golden_synth.rtlil_dump.ys
examples/*.v_golden_synth.v
examples/*.sv_dump.ys
examples/*.sv_golden_synth.v
obj_dir/
examples/*.sv_dump_synth.v
examples/*.sv_opt_synth.v
dump_subst.txt
Struct.ml
Struct.mli
Struct_lex.ml
Struct_top
ast_types_new.ml
ast_types_old.ml
Moore.conflicts
Moore.ml
Moore.mli
Moore_lex.ml
Moore_top
Moore
p'.ml
examples/*.enc
examples/*.ast
token_types_new.ml
*.conflicts
Yosys_helper.ml
Yosys_helper.mli
Yosys_helper.mly
Yosys_helper_lex.ml
Yosys_helper_main.ml
Yosys_helper_patched.*
Yosys_helper_top
Yosys_helper_types.ml
yosys_helper.output
yosys_helper.tab.c
yosys_helper.tab.h
