*~
*.cmi
*.cmo
*.cmx
*.i
*.o
*.dump
*.vhd
*.json
*.svg
*.ghdl
*.log
*.check
*.vsyn
*.gate
*.gold
*.exp
*.temp
*.templog
*.tmp
*.sat
*.liberty
*.debug
*.tok
*_opt.v
*.smt
*.rej
*.rtlil
*.ilang
*.proc
*.vsynth
slib_*
uart_*
Extract*
Pat*
apb_uart.v
install_hardcaml
ord.ml
output_lexer.ml
output_parser
output_parser.top
output_parser.ml
output_parser.mli
outputparser
outputparser.top
Input_top
Input.ml
Input.mli
Input_lex.ml
Input_ord.ml
liberty_parser.y
liberty_parser.tab.c
NangateOpenCellLibrary_typical.lib
Program
Program.top
Program.mly
Program_lex.ml
Program_types.ml
Translation_unit_list
Translation_unit_list.top
Translation_unit_list.ml
Translation_unit_list.mli
Translation_unit_list.mly
Translation_unit_list_lex.ml
Translation_unit_list_types.ml
ansic
kernel.i
kernel.log
lef_file
lef_file.ml
lef_file.mli
lef_file.top
y.tab.c
y.tab.h
lex.yy.c
a.out
g.dat
g.eps
g.sh
mykernel.c
mykernel_main.c
mykernel_test.c
Source_text
Source_text.ml
Source_text.mli
Source_text.mly.orig
Source_text_lex.ml
Source_text_top
Source_text_types.ml
Source_text.mly.edited
Source_text_convert
Source_text_convert_top
Source_text_preproc
Source_text_preproc_lexer.ml
Source_text_preproc_grammar.ml
Source_text_preproc_grammar.mli
Source_text_rewrite_new.ml
Source_text_rewrite_types_new.mli
mungelst.ml
*_dump.v
*.synth
work-obj93.cf
examples/*.ml
examples/*.ref
examples/*.v_dump.ys
examples/*.verilog
junk.v
.DS_Store
logfile.txt
Input_tokens.ml
Source_text_tokens.ml
Input.mly.old
Input_dump.ml
Input_hardcaml.ml
Input_types.mli
Rtlil_input.ml
Rtlil_input.mli
Rtlil_input_tokens.ml
Source_generic_top
Source_reduced_top
Source_text_verible.ml
Source_text_verible.mli
Source_text_verible_tokens.ml
Source_text_verible_lex.ml
Source_verible_top
dump_types.mli
examples/andvec.v
examples_count0_dump.ml
examples_count0_gold.ml
from_hardcaml.ml
rtl_parser.mli
synth
verible_pat.ml-e
*#
Rtlil_input_lex.ml
Rtlil_input_old.mly
